/*  
 *  Sticky Footer Solution
 *  by Steve Hatcher 
 *  http://stever.ca
 *  http://www.cssstickyfooter.com
 *  */


* {margin:0;} 


/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
    height: 100%;
}

div#wrap {
    min-height: 100%;
}

div#main {
    overflow:auto;
    padding-bottom: 50px;  /* must be same height as the footer */  
}

div#home{
    font-size: 1.2em;
    padding: 5% 20%;
    color: #555;
}

div#footer {
    /* padding-top: 10px;*/
    position: relative; 
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both; 
}

div#content {
    padding: 1% 2%;
}

div.output{
    padding: 2%;
}

div.highlight{
    padding: 2%;
}

h1 {
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 3em;
    font-weight: normal;
    padding: 0 0 1% 5%;
    clear: both;
}

h2{
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 1.75em;
    font-weight: normal;
    padding:0.5em 0;
}

h3{
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 1.5em;
    font-weight: normal;
    padding:0.5em 0;
}


p {
    padding:0.5em 0;
}

p#footer {
    padding-top: 15px;
    font-size: 0.8em;
    text-align: center;
    /* padding-left: 10%; */
    color: #555;
}

a {
    color: #999;
    text-decoration: none;
}

a.button{
    padding: 0.3em;
    background-color:#e2e2e2;
    border: solid 1px;
    /* display: block; */
    text-decoration: none;
}

ul {
    padding-left: 0.5em;
    line-height: 1.5em;
    list-style-type: none;
    list-style-position: outside;
} 

ul#nav {
    display: block;
    /*margin: 0 5%;
    padding: 0;*/
    padding-left: 5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    list-style-type: none;
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 1.2em;
}

ul#nav li {
    display: inline; /* make flat */
}

ul#nav a {
    display: block;
    float: left;
    padding: 0 1em;
    text-decoration: none;
    color: #999;
}
hr {
    border: 0;
    background-color: #999;
    height: 1px;
}

blockquote {
    padding: 0 2em;
}
