<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<title>paulmunday.net::{% if title -%}{{title}}{% endif %}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"  />
{% if css %}
    {% for file in css %}
        <link href="{{file}}" rel="stylesheet" type="text/css"  />
    {% endfor %}
{% endif %}
{% if internal_css %}
<style type="text/css">
    {{internal_css}}
</style>
{% endif %}
</head>
<body>
    <div id="nav">
       <ul id="nav">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/colophon">colophon</a></li>
            <li><a href="/source">view the source code</a></li>
        </ul>
    </div>
    <div>
        {% if heading %}<h1>{{heading}}</h1>{% endif %}
    <div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div id = "content">
        {% block content %}{% endblock %}
    </div>
    <dl>
</dl>
</body>
</html>
