<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<title>paulmunday.net::{% if title -%}{{title}}{% endif %}</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"  />
{% if css %}
    {% for file in css %}
        <link href="{{file}}" rel="stylesheet" type="text/css"  />
    {% endfor %}
{% endif %}
{% if internal_css %}
<style type="text/css">
    {{internal_css}}
</style>
{% endif %}
</head>
<body>
    <div id="nav">
       <ul id="nav">
        {%- for item in navigation.navigation.itervalues() -%}
            <li><a href="
            {%- if item.url -%}{{item.url}}
            {%- elif item.urlfor -%}
                {%- if item.urlfor == "source" -%}
                    {{ url_for(item.urlfor, page=navigation.page) }}
                {%- else -%}
                    {{ url_for(item.urlfor) }}
                {%- endif -%}
            {%- else -%}
                {{ url_for('staticpage', page=item.base) }}
            {%- endif -%}
            ">{{item.link_text}}</a></li>
            {% endfor -%}
        </ul>
    </div>
    <div>
        {% if heading %}<h1>{{heading}}</h1>{% endif %}
    <div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div id = "content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
