<!DOCTYPE html>
<html>
<head>
<title>paulmunday.net::{% if title -%}{{title}}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script language="javascript" src="/static/email.js"></script>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"  />
{% if css %}
    {% for file in css %}
        <link href="{{file}}" rel="stylesheet" type="text/css"  />
    {% endfor %}
{% endif %}
{% if internal_css %}
<style type="text/css">
    {{internal_css}}
</style>
{% endif %}
</head>
<body>
<div id="wrap">
    <div id="main">
        <div id="nav">
           <ul id="nav">
            {%- for item in navigation.navigation.itervalues() -%}
                <li><a href="
                {%- if item.url -%}{{item.url}}
                {%- elif item.urlfor -%}
                    {%- if item.urlfor == "source" -%}
                        {{ url_for(item.urlfor, page=navigation.page) }}
                    {%- else -%}
                        {{ url_for(item.urlfor) }}
                    {%- endif -%}
                {%- else -%}
                    {{ url_for('staticpage', page=item.base) }}
                {%- endif -%}
                
                {%- if item.rel -%}
                         " rel="{{item.rel}} 
                    {%- endif -%}
                ">{{item.link_text}}</a></li>
                {% endfor -%}
            </ul>
        </div>
        <div> 
            {% if heading %}<h1>{{heading}}</h1>{% endif %}
        </div> 
        <div id="messages">
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id="footer">
    <p id="footer">
    <!-- footer goes here -->
    {% if footer %}
        {{footer}}
    {% endif %}

    </p>
</div>
</body>
</html>
