{% extends "base.html" %}
    {% block content %}
    <div> 
            {% if heading %}<h1>{{heading}}</h1>{% endif %}
        </div> 
        <div id="messages">
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="content">
        {{contents}}
        </div>
    {% endblock %}
